@tailwind base;
@tailwind components;
@tailwind utilities;

.katex-html {
    @apply overflow-x-auto overflow-y-hidden text-xl text-left text-black;
}

img {
    break-inside: avoid !important;
}

table {
    width: 100%;
    white-space: nowrap;
}
